#nav-wrapper {
    float: left;
    width: 250px;
    background-color: #102027;
    height: 100vh;
    overflow: auto
}

#wrapper {
    width: auto;
    height: 100vh;
    overflow-y: auto;
    background-color: #efefef;
}

.container-fluid {
    padding: 20px 15px;
}

.title {
    color: #fff;
    margin: 20px 0;
}

.nav .nav-item .nav-link {
    color: #dedede;
}

.nav .active {
    background-color: #efefef;
    color: #102027 !important;
}

.nav .nav-item:hover {
    background-color: #37474f;
}

* {
    transition: .3s all ease-in-out;
}

.nav .nav-link span {
    margin-left: 5px;
}

/* Dashboard */

#summary-container .inner {
	padding: 10px;
    border-radius: 6px;
}

#smr-siswa {
	background-color: #a5d6a7;
}

#smr-soal-materi {
	background-color: #81d4fa;
}

#smr-post {
	background-color: #f48fb1;
}

#summary-container ul {
    padding-left: 15px;
}

#summary-container ul li {
    list-style: square;
}

.materi-sum {
    background-color: #e57373;
}

.soal-sum {
    background-color: #efefef;
}

.box-radius {
    padding: 2px 6px;
    border-radius: 3px;
}

/*Materi Soal*/
.bg-light-x {
	background-color: #f3f3f3;
}

.fixed-w {
    width: 204px;
}

/*Datatable*/

.btn-group {
    margin: 0 10px;
}
.dataTables_info {
    float: left !important;
}
.dataTables_paginate {
    float: right !important;
    margin-bottom: 10px;
}
.dataTables_length {
    float: left !important;
}
.dataTables_filter {
    float: right !important;
}

.input-smx {
    display: inline-block;
    width: auto;
    margin: 0 5px;
}

/*Loader*/

#loader {
    display: table;
    height: 100%;
    width: 100%;
}
  
#loader-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
  
#icon {
    z-index: 9999;
    width: 100px;
    height: 100px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
  /* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
  
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
  
#content-wrapper {
    display: none;
}