#nav-wrapper {
    float: left;
    width: 250px;
    background-color: #102027;
    height: 100vh;
    overflow: auto
}

#wrapper {
    width: auto;
    height: 100vh;
    overflow-y: auto;
    background-color: #efefef;
}

.container-fluid {
    padding: 20px 15px;
}

.title {
    color: #fff;
    margin: 20px 0;
}

.nav .nav-item .nav-link {
    color: #dedede;
}

.nav .active {
    background-color: #efefef;
    color: #102027 !important;
}

.nav .nav-item:hover {
    background-color: #37474f;
}

* {
    transition: .3s all ease-in-out;
}

.nav .nav-link span {
    margin-left: 5px;
}

/*Belajar*/

.bg-light-x {
	background-color: #f3f3f3;
}

/*Datatable*/

.btn-group {
    margin: 0 10px;
}
.dataTables_info {
    float: left !important;
}
.dataTables_paginate {
    float: right !important;
    margin-bottom: 10px;
}
.dataTables_length {
    float: left !important;
}
.dataTables_filter {
    float: right !important;
}

.input-smx {
    display: inline-block;
    width: auto;
    margin: 0 5px;
}